### Merging Latitute and Longitude Data with Wikipedia Data

In [6]:
import pandas as pd 
df1 = pd.read_csv("Geospatial_Coordinates.csv") 
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re


def extract(s):
    mo = re.search(r'\((.*)\)', s)
    if mo:
        return mo.group(1)
    return ''

def split_string(string): 
  
    # Split the string based on space delimiter 
    list_string = string.split('/') 
      
    return list_string 

def join_string(list_string): 
  
    # Join the string based on '-' delimiter 
    string = ','.join(list_string) 
      
    return string 

col = 9
i = 0
post_code = []
borough = []
neighbourhood = []
with open('Wikipedia_file.html') as html_file:
    soup = BeautifulSoup(html_file, 'lxml')
    
table = soup.find('tbody')
tr = table.find_all('tr')
while i < 9:
    for row in tr:
        if (str(row.find_all('span')[i].text).lower() != 'not assigned'):
            post_code.append(str(row.find_all('b')[i].text))
            borough.append(str(row.find_all('span')[i].text).split('(')[0])
            neighbourhood.append(join_string(split_string(extract(str(row.find_all('span')[i].text)))))
    i+=1
cols = {'PostalCode':post_code, 'Borough':borough, 'Neighborhood':neighbourhood}
df2 = pd.DataFrame(cols)
df2

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                    Malvern , Rouge
1          M1C  Scarborough           Rouge Hill , Port Union , Highland Creek
2          M1E  Scarborough                Guildwood , Morningside , West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village , St. Phillips , Martin Grov...
101        M9V    Etobicoke  South Steeles , Silverstone , Humbergate , Jam...
102        M9W    Etobicoke  Clairville , Humberwood , Woodbine Downs , Wes...

[103 rows x 3 columns]

In [10]:
result = pd.concat([df2, df1], axis=1, sort=False)

In [11]:
result

,PostalCode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...,...
98,M9N,York,Weston,M9N,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village , St. Phillips , Martin Grov...",M9R,43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam...",M9V,43.739416,-79.588437
102,M9W,Etobicoke,"Clairville , Humberwood , Woodbine Downs , Wes...",M9W,43.706748,-79.594054